<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guangxuan.mapper.MallHomeVideoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.guangxuan.model.MallHomeVideo">
        <id column="id" property="id" />
        <result column="item_id" property="itemId" />
        <result column="image_url" property="imageUrl" />
        <result column="video_url" property="videoUrl" />
        <result column="title" property="title" />
        <result column="desc" property="desc" />
        <result column="dimension" property="dimension" />
        <result column="visible" property="visible" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, item_id, image_url, video_url, title, desc, dimension, visible, sort, create_time
    </sql>

</mapper>
